*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#input{
    border: 2px solid rgb(18, 1, 1);
    width: 300px;
    padding: 15px;
    font-size: 15px;
}

#input:focus{
    outline: none;
}
